body {
    font-family: "Arial, Helvetica, sans-serif";
    background: whitesmoke;
}

.createCalc {
    margin: auto;
    text-align: center;
}

.Calc {
    text-align: center;
    display: none;
}

.storage {
    margin: auto;
}

textarea {
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px;
}

.sadd, .ssub, .smul, .sdiv {
    display: flex;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px
}
